<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Как-нибудь уже назови</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>
<th:block th:include="/_menu"></th:block>

<div class="site-body">
    <div class="container" align="center">
        <h3>Статьи</h3>
        <table class="table tbl-papers">
            <tr><th>Ид</th><th>Название</th><th>Автор</th><th>Текст</th><th></th></tr>
            <tr th:each="paper: ${papers}">
                <td th:text="${paper.id}" />
                <td th:text="${paper.name}" />
                <td th:text="${paper.author}" />
                <td th:text="${paper.text}" />
                <td><a class="btn btn-success custom-width" href="/paper/view">Просмотр</a></td>
            </tr>
        </table>
        <button class="btn btn-success"><a th:href="@{/paper/save}">Добавить статью с Блобом</a></button>
        <button class="btn btn-success"><a th:href="@{/paper/download-document}">Скачать картинку</a></button>


        <div class="panel-heading"><span class="lead">Upload New Document</span></div>
        <div class="uploadcontainer">
            <form action="/paper/save" method="POST" enctype="multipart/form-data" class="form-horizontal">

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable" for="file">Загрузить</label>
                        <div class="col-md-7">
                            <input type="file" name="file" id="file" class="form-control input-sm"/>
                            <div class="has-error">
                                <errors path="file" class="help-inline"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit" value="Upload" class="btn btn-primary btn-sm">
                    </div>
                </div>

            </form>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<footer class="panel-footer">
    <div class="container">
        <p>2018 Nya Nya Nya</p>
    </div>
</footer>
</html>