<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Как-нибудь уже назови</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

            <link rel="stylesheet" type="text/css"
                  href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

            <link rel="stylesheet" th:href="@{/css/main.css}"
                  href="../../css/main.css" />

        </head>
<body>
<th:block th:include="/_menu"></th:block>

<div class="site-body">
    <div class="container" align="center">
        <h3 th:text="${paper.name}"/>
        <table class="table tbl-papers">
            <tr >
                <td th:text="Автор" /><td th:text="${paper.author}" />
            </tr>
            <tr>
                <td th:text="${paper.text}" />
                <td><a class="btn btn-success custom-width" th:href="@{/paper/download-document}">Скачать картинку</a></td>
            </tr>
        </table>
        <div>
            <img th:src="@{/paper/image}" alt="Здесь должна быть картинка =("/>
        </div>
    </div>
</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<footer class="panel-footer">
    <div class="container">
        <p>2018 Nya Nya Nya</p>
    </div>
</footer>
</html>