<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />
    <title>Дача</title>
</head>

<body>
<th:block th:include="/_menu"></th:block>
<div class="site-body container">

        <h3>Пользователи</h3>
        <table class="table tbl-papers">
            <tr><th>Ид</th><th>Название</th><th></th></tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.user_id}" />
                <td th:text="${user.user_name}" />
                <td></td>
            </tr>
            <tr>
                <form action="#" th:action="@{/user/save}" th:object="${new_user}" method="post">
                    <td><input type="text" th:field="*{user_name}" placeholder="Имя пользователя"/></td>
                    <td><input type="password" th:field="*{encrypted_password}" placeholder="Пароль"/></td>
                    <td><input type="submit" value="Добавить пользователя" class="btn btn-success" /></td>
                </form>
            </tr>
        </table>
</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
<th:block th:include="/_footer"></th:block>

</html>