<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Как-нибудь уже назови</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>
<th:block th:include="/_menu"></th:block>

<div class="site-body">
    <div class="container">
        <div class="starter-template" align="center">
            <h1>Привеееет</h1>
            <h2>
                <span th:text="'Message: ' + ${message}"></span>
            </h2>
        </div>

    </div>
</div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
<footer class="panel-footer">
    <div class="container">
        <p>2018 Nya Nya Nya</p>
    </div>
</footer>
</html>