<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

    <title>Дача</title>

</head>

<body>

<th:block th:include="/_menu"></th:block>
    <div class="site-body">
        <div class="container" align="center">
            <h2>Message : <span th:utext="${message}"></span></h2>
        </div>
    </div>
</body>

<th:block th:include="/_footer"></th:block>

</html>