<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />
    <title>Дача</title>
</head>

<body>
<th:block th:include="/_menu"></th:block>

<div class="site-body container">

        <h3>Роли</h3>
        <table class="table tbl-papers">
            <tr><th>Роль</th></tr>
            <tr th:each="role: ${roles}">
                <td th:text="${role}" />
            </tr>
        </table>
        <a class="btn btn-success" th:href="@{/role/save}">Добавить роль</a>
</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<th:block th:include="/_footer"></th:block>
</html>